{%extends "/start/main.html"%}
{%block info%}
<input id="usuario_id" type="hidden" value="{{info.dni}}"/>
<input id="oficina" type="hidden" value="{{info.oficina}}"/>
<h6>
    Usuario:
</h6>
<span>
    {{info.usuario}}
</span>
{%endblock%}

{%block content%}
<div>
    <div class="titulomodulo">
        <form id="formSeguimiento">
            <div class="form-group">
                <input class="form-control" id="codigoSeguimiento" placeholder="Ingrese código de seguimiento" required="" type="text"/>
            </div>
            <button class="btn btn-primary mt-2" id="btnconsultar" type="button">
                Consultar
            </button>
        </form>
    </div>
    <div class="contenedorgeneralHistorial">
        <!-- Tabla de Historial -->
        <div id="resultadoSeguimiento" style="display: none;">
            <h5>
                Historial del Documento
            </h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Fecha
                        </th>
                        <th>
                            Acción
                        </th>
                        <th>
                            Documento
                        </th>
                        <th>
                            Oficina Origen
                        </th>
                        <th>
                            Oficina Destino
                        </th>
                        <th>
                            Usuario
                        </th>
                        <th>
                            Comentario
                        </th>
                    </tr>
                </thead>
                <tbody id="historialTabla">
                    <!-- Datos se llenan con JavaScript -->
                </tbody>
            </table>
        </div>
        <!-- Línea de tiempo -->
        <div class="mt-5" id="lineaTiempo" style="display: none;">
            <h5>
                Seguimiento Visual
            </h5>
            <ul class="timeline">
                <!-- Eventos de línea de tiempo -->
            </ul>
        </div>
    </div>
</div>
{%endblock%}
