{% extends "/start/main.html"%}
    {%block info%}
<input id="usuario_id" type="hidden" value="{{datos.dni}}"/>
<input id="oficina" type="hidden" value="{{datos.oficina}}"/>
<h6>
    Usuario:
</h6>
<span>
    {{datos.usuario}}
</span>
{%endblock%}

    {%block content%}
<div class="contenedorinterno">
    {%if 'DOC_NUEVO' in permisos%}
    <div class="menubutton">
        <a data-bs-target="#Mnuevodoc" data-bs-toggle="modal" href="#" id="cargarPlantilla">
            <img height="90" src="{{url_for('static',filename='/img/newdoc.png')}}" width="90"/>
            <h3>
                Nuevo
            </h3>
        </a>
    </div>
    {%endif%}
    {%if 'DOC_BENTRADA' in permisos%}
    <div class="menubutton">
        <a href="{{url_for('documents.ingresoDocumento')}}">
            <img height="90" src="{{url_for('static',filename='/img/bentrada.png')}}" width="90"/>
            <h3>
                B. Entrada
            </h3>
        </a>
    </div>
    {%endif%}
    {%if 'DOC_BSALIDA' in permisos%}
    <div class="menubutton">
        <a href="{{url_for('documents.salidasdoc')}}">
            <img height="90" src="{{url_for('static',filename='/img/bsalida.png')}}" width="90"/>
            <h3>
                B. Salida
            </h3>
        </a>
    </div>
    {%endif%}
    {%if 'DOC_OBSERVADOS' in permisos%}
    <div class="menubutton">
        <a href="{{url_for('documents.docObservados')}}">
            <img height="90" src="{{url_for('static',filename='/img/observado.png')}}" width="90"/>
            <h3>
                Obsevados
            </h3>
        </a>
    </div>
    {%endif%}
    {%if 'DOC_HISTORIAL' in permisos%}
    <div class="menubutton">
        <a href="{{url_for('documents.HistorialDocumentos')}}">
            <img height="90" src="{{url_for('static',filename='/img/historial.png')}}" width="90"/>
            <h3>
                Historial
            </h3>
        </a>
    </div>
    {%endif%}
    {%if 'DOC_SEGUIMIENTO' in permisos%}
    <div class="menubutton">
        <a href="{{url_for('documents.segDocumento')}}">
            <img height="90" src="{{url_for('static',filename='/img/seguimiento.png')}}" width="90"/>
            <h3>
                Seguimiento
            </h3>
        </a>
    </div>
    {%endif%}
    {%if 'DOC_OTHERS' in permisos%}
    <div class="menubutton">
        <a href="{{url_for('documents.OtherDocuments')}}">
            <img height="90" src="{{url_for('static',filename='/img/others.png')}}" width="90"/>
            <h3>
                Otros
            </h3>
        </a>
    </div>
    {%endif%}
</div>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade modal-lg" id="Mnuevodoc" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Nuevo documento
                </h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                </button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" id="formulariodocumento" method="POST">
                    <div class="mb-3">
                        <label>
                            Titulo
                        </label>
                        <input class="form-control" id="titulodoc" name="titulodoc" type="text"/>
                    </div>
                    <div class="mb-3">
                        <label>
                            Asunto
                        </label>
                        <input class="form-control" id="Asunto" name="Asunto" type="text"/>
                    </div>
                    <div class="mb-3">
                        <label>
                            Tipo documento
                        </label>
                        <select class="form-select" id="Tdoc" name="Tdoc">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label>
                            Descripcion
                        </label>
                        <input class="form-control" id="descripcion" name="descripcion" type="text"/>
                    </div>
                    <div class="mb-3">
                        <label>
                            Prioridad
                        </label>
                        <select class="form-select" id="prioridad" name="prioridad">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label>
                            Destino
                        </label>
                        <input class="form-control" id="destino" type="text"/>
                        <div id="iddivdestino" style="max-height: 200px;width: 300px; overflow-y: auto;background-color: #434a54;color:#fff;">
                        </div>
                    </div>
                    <div class="mb-3">
                        <table class="table" id="tableoficinas">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        codigo
                                    </th>
                                    <th scope="col">
                                        Oficina
                                    </th>
                                    <th scope="col">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="mb-3">
                        <label>
                            Dni Emisor
                        </label>
                        <input class="form-control" id="Emisor" name="Emisor" type="text"/>
                    </div>
                    <div class="mb-3">
                        <label>
                            Datos Emisor
                        </label>
                        <input class="form-control" id="DEmisor" name="DEmisor" type="text"/>
                    </div>
                    <div class="mb-3">
                        <label>
                            Adjuntar
                        </label>
                        <input accept=".pdf" class="form-control" id="adjunto" name="adjunto" type="file"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                    Cerrar
                </button>
                <button class="btn btn-primary btnblockdubleclick" id="grabardoc" type="button">
                    Grabar
                </button>
            </div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="constancia" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Ticket
                </h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                </button>
            </div>
            <div class="modal-body">
                <iframe height="600px" id="verconstancia" src="" style="border:none;" width="100%">
                </iframe>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
{%endblock%}
