{%extends "/start/main.html"%}
{%block info%}
<input id="usuario_id" type="hidden" value="{{info.dni}}"/>
<input id="oficina" type="hidden" value="{{info.oficina}}"/>
<h6>
    Usuario:
</h6>
<span>
    {{info.usuario}}
</span>
{%endblock%}

{%block content%}
<div>
    <div class="contenedorgeneralHistorial" data-simplebar="">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button aria-controls="emitidos" aria-selected="true" class="nav-link active" data-bs-target="#emitidos" data-bs-toggle="tab" id="home-tab" role="tab" type="button">
                    <strong>
                        Emitidos
                    </strong>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button aria-controls="docderivados" aria-selected="false" class="nav-link" data-bs-target="#docderivados" data-bs-toggle="tab" id="profile-tab" role="tab" type="button">
                    <strong>
                        Derivados
                    </strong>
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div aria-labelledby="home-tab" class="tab-pane fade show active" id="emitidos" role="tabpanel">
                <div class="card mt-4 shadow">
                    <div class="card-header bg-primary text-white contenedordocumento">
                        <h5 class="mb-0">
                            Historial de Documento
                        </h5>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered align-middle mb-0">
                                <thead class="table-light text-center">
                                    <tr>
                                        <th>
                                            Titulo
                                        </th>
                                        <th>
                                            Fecha
                                        </th>
                                        <th>
                                            Usuario
                                        </th>
                                        <th>
                                            Oficina Destino
                                        </th>
                                        <th>
                                            cod. Seguimiento
                                        </th>
                                        <th>
                                            Acciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="text-center" id="tablehistorico">
                                    {%for val in rows%}
                                    <tr>
                                        <td>
                                            {{val.Titulo}}
                                        </td>
                                        <td>
                                            {{val.FechaFormateada}}
                                        </td>
                                        <td>
                                            {{val.Nombre_Usuario}}
                                        </td>
                                        <td>
                                            {{val.nombre_oficina}}
                                        </td>
                                        <td>
                                            {{val.CodigoSeguimiento}}
                                        </td>
                                        <td>
                                            <button class="btn btn-danger btnanular" data-idmovimiento="{{val.Id_Movimiento}}">
                                                <i aria-hidden="true" class="fas fa-trash" title="Anular">
                                                </i>
                                            </button>
                                            <button class="btn btn-info btnticket" data-idmovimiento="{{val.Id_Movimiento}}">
                                                <i aria-hidden="true" class="fas fa-print" title="imprimir">
                                                </i>
                                            </button>
                                            <button class="btn btn-success EditarM" data-idmovimiento="{{val.Id_Movimiento}}">
                                                <i aria-hidden="true" class="fas fa-pencil-square" title="Editar">
                                                </i>
                                            </button>
                                        </td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div aria-labelledby="profile-tab" class="tab-pane fade" id="docderivados" role="tabpanel">
                <div class="card mt-4 shadow">
                    <div class="card-header bg-primary text-white contenedordocumento">
                        <h5 class="mb-0">
                            Documentos Derivados
                        </h5>
                    </div>
                    <table border="1" class="table table-hover table-bordered align-middle mb-0">
                        <thead class="table-light text-center">
                            <tr>
                                <th>
                                    Código Seguimiento
                                </th>
                                <th>
                                    Asunto
                                </th>
                                <th>
                                    Destino
                                </th>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Acción
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for val in datos%}
                            <tr>
                                <td>
                                    {{val.CodigoSeguimiento}}
                                </td>
                                <td>
                                    {{val.Asunto}}
                                </td>
                                <td>
                                    {{val.nombre_oficina}}
                                </td>
                                <td>
                                    {{val.FechaFormateada}}
                                </td>
                                <td>
                                    <button class="btn btn-danger salidadoc" data-idmovimientoderivado="{{val.Id_Movimiento}}" type="button">
                                        <i class="fas fa-reply-all" title="Revertir">
                                        </i>
                                    </button>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--anular-->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="manular" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Anular
                    </h1>
                </div>
                <div class="modal-body">
                    <label>
                        Accion
                    </label>
                    <input class="form-control" data-idanular="12" name="" readonly="" type="text" value="Anular"/>
                    <label>
                        Comentario:
                    </label>
                    <input id="txtidmovimientoA" name="" type="hidden" value=""/>
                    <textarea class="form-control" id="comentarioAnular">
                    </textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                        Cerrar
                    </button>
                    <button class="btn btn-primary " id="btnsaveanulacion" type="button">
                        Confirmar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--constancia-->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="constanciag" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Ticket
                    </h1>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                    </button>
                </div>
                <div class="modal-body">
                    <iframe height="600px" id="verconstanciag" src="" style="border:none;" width="100%">
                    </iframe>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--editar-->
    <div aria-hidden="true" aria-labelledby="labelmodaleditar" class="modal fade modal-lg" id="meditardocumento" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="labelmodaleditar">
                        Editar Documento
                    </h1>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                    </button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off" enctype="multipart/form-data" id="formulariodocumento" method="POST">
                        <input id="movimiento" name="movimiento" type="hidden"/>
                        <input id="documento" name="documento" type="hidden"/>
                        <div class="mb-3">
                            <label>
                                Titulo
                            </label>
                            <input class="form-control" id="titulodocE" name="titulodocE" type="text"/>
                        </div>
                        <div class="mb-3">
                            <label>
                                Asunto
                            </label>
                            <input class="form-control" id="AsuntoE" name="AsuntoE" type="text"/>
                        </div>
                        <div class="mb-3">
                            <label>
                                Tipo documento
                            </label>
                            <select class="form-select" id="TdocE" name="TdocE">
                            </select>
                        </div>
                        <div class="mb-3">
                            <label>
                                Descripcion
                            </label>
                            <input class="form-control" id="descripcion" name="descripcion" type="text"/>
                        </div>
                        <div class="mb-3">
                            <label>
                                Prioridad
                            </label>
                            <select class="form-select" id="prioridadE" name="prioridadE">
                            </select>
                        </div>
                        <div class="mb-3">
                            <label>
                                Destino
                            </label>
                            <input class="form-control" id="destinoEV" type="text"/>
                            <input id="destinoE" name="destinoE" type="hidden"/>
                            <div id="iddivdestinoE" style="max-height: 200px;width: 300px; overflow-y: auto;background-color: #434a54;color:#fff;">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>
                                Datos Emisor
                            </label>
                            <input class="form-control" id="DEmisorE" name="DEmisorE" type="text"/>
                            <input class="form-control" id="EmisorE" name="EmisorE" type="hidden"/>
                            <div id="iddivemisorE" style="max-height: 200px;width: 300px; overflow-y: auto;background-color: #434a54;color:#fff; border-radius: 5px;">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>
                                Adjuntar
                            </label>
                            <input accept=".pdf" class="form-control" id="adjuntoE" name="adjuntoE" type="file"/>
                        </div>
                        <div class="mb-3">
                            <fieldset>
                                <legend>
                                    Referencia
                                </legend>
                                <input class="form-check-input" id="valorcheckreferencia" type="checkbox" value=""/>
                                <label class="form-check-label" for="checkDefault">
                                </label>
                                <label>
                                    Documento de referencia
                                </label>
                                <input class="form-control" data-iddocreferencia="" data-idmovimientoreferencia="" id="inputdocreferencia" name="DReferencia" readonly="" type="text"/>
                                <div id="iddivreferenciadoc" style="max-height: 200px;width: 300px; overflow-y: auto;background-color: #434a54;color:#fff; border-radius: 5px;">
                                </div>
                            </fieldset>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary " id="btnsaveedit" type="button">
                        Grabar
                    </button>
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
