{%extends "/start/main.html"%}

{%block info%}
<input type="hidden" id="usuario_id" value="{{info.dni}}">
<input type="hidden" id="oficina" value="{{info.oficina}}">  
  <h6>Usuario: </h6>
 <span>{{info.usuario}}</span>
{%endblock%}
{%block content%}
<div class="contendorseguimiento">
<h2>Documentos Observados</h2>
<input type="text" name="">
<table border="1" class="table table-dark table-striped mt-3">
  <thead>
    <tr>
      
      <th>Titulo</th>
      <th>Asunto</th>      
      <th>Fecha</th>
      <th>Observacion</th>
      <th>Subsanar</th>
    </tr>
  </thead>
  <tbody>
  	
    {%for val in datos%}
    <tr>      
      <td>{{val.Titulo}}</td>
      <td>{{val.Asunto}}</td>      
      <td>{{val.Fecha_Movimiento}}</td>
      <td>{{val.comentarios}}</td>
      <td><button type="button" class="btn btn-primary btnsubsanar" data-idmovimientosubsanar="{{val.Id_Movimiento}}"><i class="fas fa-pencil-square-o" title="
      	Subsanar"></i></button></td>
    </tr>
    {%endfor%}
    
  </tbody>
</table>
</div>

<div class="modal fade" id="modalsubsanar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Acciones a realizar</h1>        
      </div>
      <div class="modal-body">
      	<form id="formsubsanacion" method="POST" enctype="multipart/form-data">	 
        <h5>Subsanacion de documento</h5>        	    

        	<div class="mb-3">
	        	<label>Adjuntar</label>
	        	<input type="hidden" name="idmovimientooculto" value="" id="idmovimientooculto"> 
	        	<input type="file" class="form-control" name="adjunto" id="adjunto">        		         		       		
	        </div>
	    </form> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>  
        <button type="button" class="btn btn-primary" id="btnconfirmarsubsanacion">Confirmar</button>  
      </div>
    </div>
  </div>
</div>

{%endblock%}