{%extends "/start/main.html"%}

{%block info%}
<input id="usuario_id" type="hidden" value="{{info.dni}}"/>
<input id="oficina" type="hidden" value="{{info.oficina}}"/>
<h6>
    Usuario:
</h6>
<span>
    {{info.usuario}}
</span>
{%endblock%}
{%block content%}
<div>
    <div class="titulomodulo" style="gap:10px;">
        <label>
            Buscar
        </label>
        <input id="buscarobservados" name="" type="text"/>
    </div>
    <div class="contenedorgeneralHistorial" data-simplebar="">
        <table border="1" class="table table-striped mt-3">
            <thead class="table-dark">
                <tr>
                    <th>
                        Titulo
                    </th>
                    <th>
                        Asunto
                    </th>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Observacion
                    </th>
                    <th>
                        Subsanar
                    </th>
                </tr>
            </thead>
            <tbody id="tablebodyobservados">
                {%for val in datos%}
                <tr>
                    <td style="width:20%;">
                        {{val.Titulo}}
                    </td>
                    <td style="width:20%;">
                        {{val.Asunto}}
                    </td>
                    <td style="width:10%;">
                        {{val.Fecha_Movimiento}}
                    </td>
                    <td style="width:40%;">
                        {{val.comentarios}}
                    </td>
                    <td style="width:10%;">
                        <button class="btn btn-primary btnsubsanar" data-idmovimientosubsanar="{{val.Id_Movimiento}}" type="button">
                            <i class="fas fa-pencil-square-o" title=" Subsanar">
                            </i>
                        </button>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="modalsubsanar" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Acciones a realizar
                </h1>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" id="formsubsanacion" method="POST">
                    <h5>
                        Subsanacion de documento
                    </h5>
                    <div class="mb-3">
                        <label>
                            Adjuntar
                        </label>
                        <input id="idmovimientooculto" name="idmovimientooculto" type="hidden" value=""/>
                        <input accept=".pdf" class="form-control" id="adjunto" name="adjunto" type="file"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                    Cerrar
                </button>
                <button class="btn btn-primary" id="btnconfirmarsubsanacion" type="button">
                    Confirmar
                </button>
            </div>
        </div>
    </div>
</div>
{%endblock%}
