{%extends "/start/main.html"%}
{%block info%}
<input id="usuario_id" type="hidden" value="{{info.dni}}"/>
<input id="oficina" type="hidden" value="{{info.oficina}}"/>
<p class="m-2">
    Usuario:
    <em>
        {{info.usuario}}
    </em>
</p>
<p class="m-2">
    Oficina:
    <span>
        {{info.nombreo}}
    </span>
</p>
{%endblock%}

{%block content%}
<div>
    <div class="titulomodulo">
        <button class="btn btn-success" id="addbuttonoficina">
            <i class="fas fa-plus" title="Agregar">
            </i>
        </button>
        <input class="m-4" name="" placeholder="buscar" type="text"/>
    </div>
    <div class="contenedorgeneralHistorial">
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>
                        codigo
                    </th>
                    <th>
                        Oficina
                    </th>
                    <th>
                        codigo Padre
                    </th>
                    <th>
                        Oficina Padre
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                {%for val in rows%}
                <tr>
                    <td>
                        {{val.CHIJO}}
                    </td>
                    <td>
                        {{val.OHIJO}}
                    </td>
                    <td>
                        {{val.CPADRE}}
                    </td>
                    <td>
                        {{val.OPADRE}}
                    </td>
                    <td>
                        <button class="btn btn-primary upbtnoficina" data-codigo="{{val.CHIJO}}">
                            <i class="fas fa-pencil-square-o" title="Editar">
                            </i>
                        </button>
                    </td>
                    <tr>
                        {%endfor%}
                    </tr>
                </tr>
            </tbody>
            <table>
            </table>
        </table>
    </div>
</div>
<!--agregar oficina-->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="addoficina" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Nueva Oficina
                </h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                </button>
            </div>
            <div class="modal-body">
                <label>
                    Codigo
                </label>
                <input class="form-control" id="oficodi" readonly="" type="text"/>
                <label>
                    Oficina
                </label>
                <input class="form-control" id="nameoficina" type="text"/>
                <label>
                    Padre
                </label>
                <input class="form-control" id="codigopadre" type="text"/>
                <label>
                    Responsable
                </label>
                <input class="form-control" data-dni="" id="responsableoficina" type="text"/>
                <div id="iddivdestinoresponsable" style="max-height: 200px;width: 300px; overflow-y: auto;background-color: #434a54;color:#fff;">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="grabaroficina" type="button">
                    Grabar
                </button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
<!--Modificar Oficina-->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="updateoficina" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Modificar
                </h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                </button>
            </div>
            <div class="modal-body">
                <input id="codigoup" type="hidden" value=""/>
                <label>
                    Oficina
                </label>
                <input class="form-control" id="upnameoficina" type="text"/>
                <label>
                    Padre
                </label>
                <input class="form-control deleteinput" id="upcodigopadre" type="text"/>
                <label>
                    Responsable
                </label>
                <input class="form-control deleteinput" data-dni="" id="responsableoficinaup" type="text"/>
                <div id="iddivresponsableup" style="max-height: 200px;width: 300px; overflow-y: auto;background-color: #434a54;color:#fff;">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="upgrabaroficina" type="button">
                    Grabar
                </button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
{%endblock%}
