.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline::before {
  content: '';
  background: #dee2e6;
  position: absolute;
  left: 20px;
  width: 2px;
  height: 100%;
}
.timeline li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
}
.timeline li::before {
  content: '';
  background: #007bff;
  border-radius: 50%;
  position: absolute;
  left: 13px;
  top: 5px;
  width: 14px;
  height: 14px;
}

.contendorseguimiento{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 40%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border:  1px solid #ccc;
  padding: 20px;
  margin-left: 50px;

}