{% extends "/start/main.html"%}
{%block info%}

{%endblock%}
<div>
</div>
{%block content%}
<div class="row g-3 contenedorReporte">
    <div class="col-12 col-md-10 col-lg-8">
        <div class="card border-primary" style="height: 40%;">
            <div class="card-header">
                Documentos Generados por oficina
            </div>
            <div class="card-body text-primary" style="overflow-y: auto; max-height: 95%;">
                <p class="card-text">
                    {{grafico1|safe}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card border-secondary" style="height: 40%;">
            <div class="card-header">
                Documentos
            </div>
            <div class="card-body text-secondary">
                <h5 class="card-title">
                    En construccion
                </h5>
                <p class="card-text">
                    En construccion
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-10 col-lg-8">
        <div class="card border-success" style="height: 40%;">
            <div class="card-header">
                Documentos Recepcionados
            </div>
            <div class="card-body text-success" style="overflow-y: auto; max-height: 95%;">
                <p class="card-text">
                    {{docrecepcionados|safe}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card border-secondary" style="height: 40%;">
            <div class="card-header">
                En construccion
            </div>
            <div class="card-body text-secondary">
                <h5 class="card-title">
                    Secondary card title
                </h5>
                <p class="card-text">
                    Some quick example text...
                </p>
            </div>
        </div>
    </div>
</div>
{%endblock%}
