 {%extends "roles/menuroles.html"%}
 
 {%block info%}
<input type="hidden" id="usuario_id" value="{{info.dni}}">
<input type="hidden" id="oficina" value="{{info.oficina}}">  
  <h6>Usuario: </h6>
  <span>{{info.usuario}}</span>
{%endblock%}

{%block content%}
<div >
  <div class="titulomodulo">
   <h1>Modulos</h1>
 </div>
 <div class="titulomodulo">  
    <button class="btn btn-outline-primary" id="btnaddmodulo"> <i class="fa fa-plus-square" aria-hidden="true" title="Agregar"></i></button>
</div>

<div class="contenedorgeneralHistorial" style="margin-top: 5px;">
  <div class="tabla-sm">
    <div class="card mt-4  shadow">
    <div class="card-header bg-primary text-white contenedordocumento">
      <h5 class="mb-0">Módulos</h5>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
      <table class="table table-hover table-bordered align-middle mb-0 tabla-controlada">
        <thead>
          <tr>
            
            <th scope="col">Numeracion</th>
            <th scope="col">Denominacion</th>
            <th scope="col">Acciones</th>

          </tr>
        </thead>
        <tbody>
          {%for val in datos%}
          <tr>
            <th scope="row">{{val.Id_Permiso}}</th>
            <td>{{val.Nombre_Permiso}}</td>
            <td>
              <button class=" btn btn-success editmodulo" data-codigo={{val.Id_Permiso}} ><i class="fas fa-pencil-square" aria-hidden="true"></i></button>
              <button class=" btn btn-danger delmodulo" data-codigo={{val.Id_Permiso}} ><i class="fas fa-trash" aria-hidden="true"></i></button> 
            </td>            
          </tr>
          {%endfor%}        
        </tbody>
      </table>
    </div>
    </div>
   </div>
  </div>
</div>
</div>
</div>





<!-- Modal -->
<div class="modal fade" id="AgregarModulos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ingresar datos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label>Denominacion</label>
        <input class="form-control" type="input" id="txtMdenominacion">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="rolguardar">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
{%endblock%}